<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="cron" value="0 30 9,10,11,14,15,16,17,19,20,21 * * ? *"/>
    <add key="msg" value="程序已运行，将在每天上午9点半到11点半与下午14点半到21点半之间每隔一小时提醒"/>
  </appSettings>
</configuration>